<% provide(:title, "Contact") %>

<html lang="en">
  <!-- Stylesheet for the page -->
  <head>
    <%= stylesheet_link_tag 'contact' %>
  </head>
  <!-- Main page information -->
  <body>
    <section id="form-request">
      <h2>Complete the inquiry form below for general questions and custom requests</h2>
    </section>
  </body>
</html>