<% provide(:title, 'Home') %>

<html>
  <body>
    <h1>Welcome to Madeby8ight!</h1>
    <h2>Below you can shop by category </h2>
    <h3 class="inline">Large Bespoke Orders</h3>
    <h3 class="inline">Specialty Items</h3>
    <h3 class="inline">Make it Yours</h3>
    <!-- Put this stuff in a header file-->
    <%= link_to "About", about_path %>
    <br />
    <%= react_component("HelloWorld", props: @example_props, prerender: false) %>
  </body>
</html>