.navbar {
    background: repeating-linear-gradient(to right, #ffffff, #ffffff 20px, #ebe7cd 20px, #ebe7cd 40px);

    font-family: 'Icomoon';
}

.nav-link {
    font-size: 18px;
}

.blue {
    color: #80b2cf;
}

.white {
    color: white;
}

.logo{
    flex: 1 1 auto;
    display: flex;
    max-height: 70px;
}

#navbarLeftMargin,
#navbarRightMargin {
  flex: 1;
  text-decoration: none;
}

#navbarRightMargin {
    justify-content: flex-end;
}

i {
    margin-right: 20px;
    font-size: 150%;
}